body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    color: #1a171b1b;
    margin: 0;
    background-color: #f4f4f4;
    overflow: hidden;
}

html {
    overflow: hidden;
}

.quote-container {
    margin: 0 auto;
    max-width: 80vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote-container img {
    max-height: 600px;
    max-width: 80vmin;
    border-radius: 1.25em;
    box-sizing: border-box;
    display: block;
    box-shadow: 2.625em 2.625em 2em #1a171be1;

    margin: 0 auto;

}


#bgVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -2;
    object-fit: cover;
    opacity: 0.85;
}

.logo-container {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 10;
}

.logo {
    max-width: 2em;
    height: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.216);
    /* Adjust the last value (0.5) for transparency */
    z-index: -1;
}


.share-buttons {
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;
    text-align: center;
    gap: 10px;
    margin-top: 1.5em;
}

.share-buttons button {
    padding: 10px 20px;
    border: 0.11em solid #1A171B;
    border-radius: 2em;
    border-color: #1A171B;
    cursor: pointer;
    font-size: 1em;
    color: #1A171B;
    background-color: #F85E4A;
}

.share-buttons button:hover {
    background-color: #1A171B;
    color: #f4f4f4;
}